# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Kotlin
*.class

# OS
.DS_Store
Thumbs.db

# Env / Secrets
.env
*.pem
firebase-service-account.json
